/* IMPORTACION FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.primerHeader {
    border: 1px solid white;
    border-radius: 22px;
    /*background-color: #75B6EF;*/
    background-color: #D7E0EF;
    height: 100px;
    padding: 20px;
}

.estudiantes {
    margin-left: 700px;
}

.Logo {
    margin-left: 50px;
    margin-right: 20px;
    float:left ;
}

.empresa {
    margin-left: 400px;
    margin-top: 100px;
}

nav ul li {
    padding: 20px ; 
    display: inline-block;
    color: #405DE0;
    font-size: medium;
}

.Pyme {
    width: 1000px;
    margin:0 auto;
    margin-top:100px;
    margin-bottom:100px;
    border: 1px solid;
    padding-left: 100px ;
    padding-right: 100px ;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 22px;
    background-color: #75B6EF;
    color: #405DE0;
    font-size: x-large;
    font-weight: bold;
}
        
.Estas{
    width: 1000px;
    margin-top:100px;
    margin:0 auto;
    margin-bottom:100px;
    background-image: url(imagenes/ingles\ feliz.jpg);
    height: 500px; 
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: 0.5;
    border: 1px solid;
    border-radius: 22px;
    color:#405DE0;
}

.unPaso{
    padding-left:100px;
    color: blue;
    font-size:xx-large; 
    padding-top:60px;
}

.profesores {
    padding-left:100px;
    color:blue;
    font-size:x-large;
    font-weight: bold;
    padding-top:30px;
    list-style: none;
}

.clases {
    padding-left:100px;
    color: blue;
    font-size:x-large;
    font-weight: bold;
    padding-top:30px;
    list-style: none;
}

.metodo {
    padding-left:100px;
    color: blue;
    font-size:x-large;
    font-weight: bold;
    padding-top:20px;
    list-style: none;
}

.lider{
    padding-left:100px;
    color: blue;
    font-size:x-large;
    font-weight: bold;
    padding-top:5px;
    list-style: none;
}

.ventajas{
    text-align: center;
    color: blue;
    font-size:x-large;
    font-weight: bold;
    padding-top:60px;
    list-style: none;
}

.formulario{
    width: 1000px;
    height: 440px;
    margin:0 auto;
    margin-bottom:100px;
    border: 1px solid;
    border-radius: 22px;
    background-color: #EBEBE6;
    color:#405DE0;
    padding:30px;
}

.comenza{
    text-align: center;
    color:#405DE0;
    font-size:x-large;
    padding-left:70px;
    padding-top:0px;
}
  
.campo{
    padding-top: 25px;
    margin-left:150px;
    color:#405DE0;
    font-size:large;
}

.input1{
   position: absolute;
   left: 500px;
   width: 450px;
   font-size:large;
}

#boton{
    margin-left:550px;
}

#next-btn{
    color:#405DE0;
    margin-top:5px;
    font-size:large;
    text-align:center;
    padding:10px;
    border-radius: 45%;
    background-color: #75B6EF;
}

#idEstudiantes{
    margin:auto;
    width: 1000px;
    height: 600px;
}

.foto2{
    color:#405DE0;
    border: 1px solid;
    border-radius: 22px; 
}

#idCotizador{
    margin:0 auto;
    margin-top:100px;
    width: 1000px;
    height: 500px;
    color:#405DE0;
    border: 1px solid;
    border-radius: 22px;
}

.fortalezas{
    margin-top:50px;
    list-style:square;
    font-weight: bold;
    float:left;
}

.online{
    color:#405DE0;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom:30px;
    list-style:none;
}

.beneficios{
    color:#405DE0;
    padding-left: 40px;
    padding-bottom:20px;
    list-style:none;
    font-size:large;
}

.fotoPizarra{
    padding-right:50px;
}

.tipoCurso {
    margin-top:80px;
    margin-left: 80px;
    padding:20px;
    height:350px;
}

.marco{
    height: 420px;
    width: 1000px;
    margin:0 auto;
    margin-top:100px;
    border: 1px solid;
    border-radius: 22px;
    color:#405DE0;
    margin-bottom: 100px;
}

.finalMain{
    margin-left:40px;
    margin-top:80px;
    float: left;
}

.flexibilidad{
    margin-left:50px;
    margin-top:50px;
    padding:20px;
    text-align: center;
    color:#405DE0;
    font-size:large;
    line-height: 2;
}

.negrita{
    font-weight: bold;
}

footer {
    margin: 30px;
    background-color: #D7E0EF;
    border-radius: 22px;
}

.contenedor {
    margin: 5px;
    padding: 20px;
    text-align: center;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
}

.redesIconos {
    list-style: none;
    padding: 10px;
}


