/* IMPORTACION FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.primerHeader {
    border: 1px solid white;
    border-radius: 22px;
    background-color: #75B6EF;
    height: 70px;
}

.estudiantes {
    margin-left: 700px;
}

.Logo {
    margin-left: 50px;
    margin-right: 20px;
    float:left ;
}

.empresa {
    margin-left: 400px;
    margin-top: 100px;
}

nav ul li {
    padding: 20px ; 
    display: inline-block;
    color: #405DE0;
    font-size: medium;
}

.Pyme {
    width: 900px;
    margin:0 auto;
    margin-top:100px;
    margin-bottom:100px;
    border: 1px solid;
    padding-left: 100px ;
    padding-right: 100px ;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 22px;
    background-color: #75B6EF;
    color: #405DE0;
    font-size: x-large;
    font-weight: bold;
    }

.Estas{
    width: 1200px;
    margin-top:100px;
    margin:0 auto;
    margin-bottom:100px;
    background-image: url(imagenes/ingles\ feliz.jpg);
    height: 500px; 
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: 0.6;
}

.unPaso{
    text-align: center;
    color: blue;
    font-size:xx-large;
    font-weight: bold;
    padding-top:60px;
}

.profesores {
    padding-left:100px;
    color: blue;
    font-size:x-large;
    font-weight: bold;
    padding-top:60px;
}

.clases {
    padding-left:100px;
    color: blue;
    font-size:x-large;
    font-weight: bold;
    padding-top:20px;
}

.metodo {
    padding-left:100px;
    color: blue;
    font-size:x-large;
    font-weight: bold;
    padding-top:20px;
}
.lider{
    padding-left:100px;
    color: blue;
    font-size:x-large;
    font-weight: bold;
    padding-top:5px;
}
.ventajas{
    text-align: center;
    color: blue;
    font-size:xx-large;
    font-weight: bold;
    padding-top:60px;
}
.formulario{
    width: 600px;
    height: 440px;
    margin:0 auto;
    margin-left:400px;
    margin-bottom:100px;
    border: 1px solid;
    border-radius: 22px;
    background-color: #EBEBE6;
    padding:30px;
}
.comenza{
    color:#405DE0;
    font-size:x-large;
    padding-left:70px;
    padding-top:0px;
}
  
.campo{
    padding: 15px;
    margin-left:75px;
    color:#405DE0;
}

#next-btn{
    color:#405DE0;
    margin-top:5px;
    margin-left:300px;
    padding:10px;
    border-radius: 45%;
    background-color: #75B6EF;
}

.input1{
   position: absolute;
   left: 620px;
   width: 250px;
}
.foto2{
    margin:0 auto;
    margin-left: 200px;
}

.fortalezas{
    margin-left:260px;
    margin-top:100px;
    list-style:square;
    font-weight: bold;
    float:left;
    }

.tipoCurso {
    margin-top:80px;
    margin-left: 80px;
    padding:20px;
    height:350px;
}

#idCotizador{
    margin:0 auto;
}

.online{
    color:#405DE0;
    padding: 10px;
    font-size:large;
}

.beneficios{
    color:#405DE0;
    padding: 10px;
    font-size:large;
}

.finalMain{
    margin-left:40px;
    margin-top:80px;
    float: left;
    }

.flexibilidad{
    margin-left:50px;
    margin-top:50px;
    padding:20px;
    text-align: center;
    color:#405DE0;
    font-size:large;
    line-height: 2;
}

.marco{
    height: 420px;
    width: 1000px;
    margin:0 auto;
    margin-top:100px;
    margin-left: 200px;
    border: 1px solid;
    border-radius: 22px;
    color:#405DE0;
    margin-bottom: 100px;
}

.negrita{
    font-weight: bold;
}

.footer{ 
    
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    list-style: none;
    background-color: #75B6EF;

}
.logoFooter{
    
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;


}
span{
    font-size: 40px;
}

.containerUno{
   max-width: 80px;
   margin: 40 40px ;
}
.redesSociales a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(9, 31, 230);
    margin: 0px 20px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#FFFFFF;
    transition:all .5s ease;

}
.redesSociales a:hover{
    background-color: #798de9;
}
.containerDos{
    box-sizing: border-box;
    width: 290px ;
    height: 60px;
    margin-left:800px;
    margin-right: 40px;
    border-radius: 22px;
    background-color: #0e7ee7;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}
.containerTres{
    text-align: center;
    padding: 20px;


}